@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}
body {
  background: #f9f8ff;
}
.navbar {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}
.navbar ul {
  display: flex;
}
.navbar ul li {
  font-size: 20.3089px;
  line-height: 29px;
  margin: 0 10px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
}
.connect-btn {
  position: relative;
}
.connect-btn > div:nth-child(1) {
  cursor: pointer;
  transition: all 0.35s ease-in-out;
}
/* .connect-btn >div:nth-child(1){padding: 20px; clip-path: polygon(0 81%, 5% 74%, 100% 73%, 100% 100%, 0% 100%);background-color: #fff;color: black;} */
.absollute-btn-part {
  position: absolute;
  top: 0;
  z-index: -1;
}
.connect-btn p {
  z-index: 1;
  font-size: 20.3089px;
  line-height: 29px;
  margin: 0 10px;
  text-align: center;
  width: 95%;
  transition: all 0.3s ease-in-out;
  color: rgba(0, 0, 0, 0.8);
  top: 11px;
}
.button-background {
  top: 7px;
  left: 7px;
}
.connect-btn:hover:hover .button-container {
  transform: translate(6px, 6px);
}
.connect-btn:hover p {
  transform: translate(6px, 6px);
}
.landing-page-1 {
  width: 80%;
  margin: 0 auto;
  margin-top: 120px;
}
.landing-page-1 .connect-btn {
  width: 240px;
}
.landing-page-1 h1 {
  font-weight: 500;
  font-size: 75.216px;
  /* line-height: 90px; */
  /* or 135% */

  color: rgba(0, 0, 0, 0.8);
}
.landing-page-text > p {
  font-weight: 400;
  width: 650px;
  font-size: 20px;
  margin-bottom: 52px;

  color: rgba(0, 0, 0, 0.65);
}
.landing-2-section-text {
  width: 80%;
  margin: 0 auto;
  margin-top: 180px;
  text-align: center;
  margin: 80px;
}
.landing-2-section-text h1 {
  font-weight: 400;
  font-size: 42px;
  color: rgba(0, 0, 0, 0.8);
}
.landing-2-section-text h1 span {
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
  font-size: 43px;
}
.landing-2-section-text p {
  font-weight: 400;
  font-size: 22px;
}
.landnig-2-cards-img img {
  width: 100vw;
}
.landing-3-section {
  width: 80%;
  margin: 0 auto;
  margin-top: 140px;
}
.landing-3-heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.landing-3-heading h1,
.landing-3-heading p {
  width: 47%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.45);
  padding-bottom: 40px;
}
.landing-3-heading h1 {
  font-weight: 500;
  font-size: 48px;
  line-height: 68px;

  color: rgba(0, 0, 0, 0.8);
}
.landing-3-heading p {
  font-weight: 400;
  font-size: 18.6794px;
  line-height: 28px;

  color: rgba(0, 0, 0, 0.65);
}
.landing-3-2sections {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 60px;
}
.landing-3-2sections > div {
  width: 47%;
}
.landing-3-section-1 img,
.landing-3-section-2 img {
  width: 100%;
  margin-top: 90px;
}
.landing-3-2sections h1 {
  font-weight: 400;
  margin-bottom: 26px;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height */

  color: rgba(0, 0, 0, 0.8);
}
.landing-3-2sections p {
  font-weight: 400;
  font-size: 17.6794px;
  line-height: 30px;

  color: rgba(0, 0, 0, 0.65);
}
.all-orders-page > h1 {
  font-weight: 400;
  font-size: 28px;
  margin-top: 120px;
  margin-bottom: 140px;
}
.all-orders-page {
  width: 80%;
  margin: 0 auto;
}

.products-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 60px;
}
.new-product {
  width: 310px;
  height: 430px;
  margin-bottom: 120px;
  position: relative;
}
.new-product-inner {
  border-radius: 8px;
  clip-path: polygon(12% 0, 100% 0, 100% 94%, 92% 100%, 0 100%, 0 8%);
  position: absolute;
  background-color: #000;
  width: 310px;
  height: 430px;
  z-index: 1;
}
.new-product-inner-layer {
  clip-path: polygon(12% 0, 100% 0, 100% 94%, 92% 100%, 0 100%, 0 8%);
  position: absolute;
  background-color: #fff;
  left: 1.5px;
  top: 1.5px;
  border-radius: 8px;
  width: 307px;
  height: 427px;
  z-index: 1;
  text-align: center;
}
.new-product-background {
  border-radius: 8px;
  clip-path: polygon(12% 0, 100% 0, 100% 94%, 100% 100%, 0 100%, 0 8%);
  position: absolute;
  right: -10px;
  top: 10px;
  width: 100%;
  height: 100%;
  background-color: #2b2a2a;
  /* z-index: -1; */
}
.new-product-inner-layer .connect-btn {
  width: 150px;
}
/* .product-img img{
  position: relative;top: -40px;
} */
.product-img {
  width: 100%;
  position: absolute;
  z-index: 2;
  top: -55px;
  text-align: center;
}
.product-text {
  position: absolute;
  bottom: 40px;
  left: 20px;
}

.product-text p {
  padding-right: 5%;
  text-align: left;
  font-family: "Play";

  font-weight: 400;
  font-size: 19.3536px;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.8);
}
.product-text p span {
  font-size: 16.3536px;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Play";
}
.price-product {
  margin-bottom: 30px;
}
.new-product > img {
  position: absolute;
  transform: translate(9px, 7px) rotate(1deg);
  z-index: 3;
}
.rect2 {
  transform: translate(0px, 0px) rotate(-3deg) !important;
  bottom: 0;
  right: 0;
}
.shopping-cart-page {
  width: 80%;
  margin: 0 auto;
  padding-top: 110px;
}
.shopping-cart-page > h1 {
  font-weight: 500;
  font-size: 34.6667px;
  line-height: 52px;
  margin-bottom: 7rem;
}
.filter-panel h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 39px;
  margin-top: 20px;
  margin-bottom: 7px;
}
.filter-check-1 {
  display: flex;
  margin-bottom: 9px;
  justify-content: space-between;
}
.filter-check-1 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.7);
}
.filter-panel {
  position: relative;
  border: 1.4px solid #000;
  width: 300px;
  padding-left: 17px;
  background-color: #fff;
  padding-bottom: 50px;
  padding-right: 30px;
}
.filter-panel > img {
  position: absolute;
  left: -12px;
  top: -5px;
  width: 40px;
}
.shoping-cart-flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}
.cart-list {
  width: 68%;
}
.cart-item {
  padding-top: 25px;
  padding-bottom: 80px;
  /* padding-left: 210px;padding-right: 10%; */
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* z-index: 0; */
}
.cart-item {
  position: relative;
  border: 1.3px solid #000;
  background-color: #fff;
}
.cart-item img {
  position: absolute;
}
.card-item-text h1 {
  font-weight: 400;
  font-size: 30px;
  line-height: 48px;
  color: rgba(0, 0, 0, 0.9);
}
.card-item-text p {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.65);
}
.card-item-text p span {
  color: rgba(0, 0, 0, 0.75);
}
.card-item-text {
  margin-top: 20px;
}
.cart-item img {
  left: -80px;
  top: -80px;
  transform: rotate(-10deg);
  width: 15vw;
}
.card-item-price p {
  font-weight: 500;
  font-size: 21.04px;
  line-height: 32px;
  /* identical to box height */

  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.85);
}
.cart-item {
  margin-bottom: 80px;
}
.cart-item-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(220, 206, 227, 0.8);
  left: 10px;
  z-index: -2;
  top: 10px;
}
.cart-item .connect-btn {
  z-index: 10;
}
.cart-item .connect-btn p {
  font-size: 19px;
  width: 89%;
}
.cart-text-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-right: auto; */
  width: 81%;
  margin: 0 auto;
  padding-left: 12%;
}
.order-details-page {
  width: 80%;
  margin: 0 auto;
}
.order-details-page > h1 {
  margin-top: 90px;
  margin-bottom: 3%;
  font-weight: 400;
  font-size: 32.2657px;
}
.order-details-container {
  display: flex;
  width: 100%;
}
.order-img img {
  width: 28vw;
  transform: rotate(-9deg);
  position: relative;
  left: -50px;
}
.order-details-text h1 {
  font-weight: 400;
  font-size: 52.2657px;
  margin-bottom: 15px;
}
.order-details-text p {
  font-weight: 300;
  font-size: 24.9572px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 25px;
}
.order-details-text h2 {
  font-weight: 300;
  font-size: 22.4501px;
  opacity: 1;
}
.price-details h1 {
  font-weight: 400;
  font-size: 40px;
  margin-top: 15px;
  margin-bottom: 0;
}
.price-details > p {
  font-weight: 400;
  font-size: 14.7789px;
  color: rgba(0, 0, 0, 0.65);
}
.order-details-text .connect-btn {
  width: 140px;
}
.order-details-text .connect-btn p {
  color: #000;
}
.absollute-btn-part {
  cursor: pointer;
}
.status-container {
  clip-path: polygon(4% 0, 100% 0%, 100% 100%, 0 100%, 0 12%);
  background-color: #000;
  height: 147px;
  transform: scale(0.94);
  width: 405px;
  position: relative;
}
.status-container-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  clip-path: polygon(4% 0, 100% 0%, 100% 100%, 0 100%, 0 12%);
  background-color: #fff;
  height: 144px;
  width: 402px;
  position: absolute;
  left: 1.5px;
  top: 1.5px;
}
.status-container-inner p {
  font-weight: 400;
  font-size: 17.2945px;
  line-height: 26px;
  /* identical to box height */

  color: rgba(0, 0, 0, 0.65);
  position: relative;
  left: 35px;
}
.MuiStepLabel-labelContainer span {
  font-weight: 400 !important;
  font-size: 15px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.75) !important;
  position: relative;
  top: -5px;
}
.Mui-disabled .MuiStepLabel-labelContainer span {
  opacity: 0.65;
}
.MuiStepLabel-iconContainer svg {
  color: #000 !important;
}
.Mui-disabled .MuiStepLabel-iconContainer svg {
  opacity: 0.65;
}
.status-wrap {
  display: flex;
  /* align-items: center; */
  margin-top: 40px;
  flex-direction: column;
}
.status-wrap > p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-top: 20px;
  /* identical to box height */

  color: rgba(0, 0, 0, 0.8);
  position: relative;
  left: 20px;
}
.order-details-text {
  position: relative;
  transform: scale(0.9);
  left: 60px;
}
.color-details p {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 27.4501px;
  color: #000;
  line-height: 41px;
}
.MuiSvgIcon-root {
  height: 1.2em !important;
  width: 1.2em !important;
}
.admin-profile {
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin-profile img {
  position: relative;
  width: 40px;
  left: -15px;
}
.admin-profile h1 {
  font-weight: 400;
  font-size: 24px;
}
.admin-sidebar {
  width: 270px;
  height: 86.5vh;
  border: 1.4px solid #000;
  background-color: #fff;
  padding-top: 40px;
  position: fixed;
  padding-left: 50px;
}
.admin-sidebar ul li {
  font-weight: 400;
  font-size: 21px;
  width: fit-content;
  opacity: 0.85;
  position: relative;
  transition: all 0.5s ease-out;
  margin: 19px 0;
  /* line-height: 37px; */
}
.admin-page {
  display: flex;
  margin-top: 35px;
}
.admin-page-container,
.admin-product-open-page {
  /* margin-left: 49px; */
  margin-left: 320px;
  margin-top: 40px;
}
.admin-page-container > h1 {
  font-weight: 500;
  opacity: 0.8;
  font-size: 28.6667px;
  line-height: 52px;
}
.admin-all-products-wrap {
  margin-left: 55px;
  margin-top: 35px;
}
.admin-all-products-wrap > h1 {
  font-weight: 400;
  opacity: 0.9;
  font-size: 26px;
}
.admin-sidebar ul li:hover,
.active-sidelink {
  transform: translateX(35px);
  cursor: pointer;
}
.active-sidelink {
  padding-bottom: 3px;
  border-bottom: 2px solid #000;
}
.admin-product-wrap {
  border-radius: 10px;
  clip-path: polygon(3% 0, 100% 0%, 100% 100%, 0 100%, 0 11%);
  /* width: 1118px; */
  width: 62.11vw;
  height: 364px;
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
}
.admin-product-inner {
  border-radius: 8px;
  clip-path: polygon(3% 0, 100% 0%, 100% 100%, 0 100%, 0 11%);
  /* width: 1113px; */
  width: 61.85vw;
  height: 359px;
  background-color: #fff;
  position: absolute;
  left: 2px;
  top: 2px;
}

.admin-all-products-list {
  margin-left: 55px;
  margin-top: 30px;
}
.admin-product-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.admin-product-img img {
  min-width: 17.5vw;
  /* width: 330px; */
  transform: rotate(-7deg);
}
.admin-product-details {
  position: relative;
  left: -120px;
}
.admin-product-details > p {
  font-weight: 400;
  font-size: 26px;
  line-height: 41px;
  margin-bottom: 9px;
}
.admin-product-details > p span {
  font-weight: 300;
  font-size: 19.13px;
  line-height: 27px;

  color: rgba(0, 0, 0, 0.8);
}
.admin-status-product {
  position: relative;
  left: 50px;
  top: -5px;
}
.admin-status-product p {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}
.admin-status-product p span {
  color: rgba(0, 0, 0, 0.75);
  font-weight: 400;
}
.admin-product-btn {
  position: relative;
  left: -50px;
}
/* .fixednav{position: fixed;height: 100px;} */

.wallet-Add {
  font-size: 8px !important;
}
.modal-text {
  font-weight: 400;
  font-size: 22.2657px;
  margin-bottom: 25px;
}
.modal-input {
  font-weight: 400;
  border: 1px solid #000;
  padding: 5px;
  width: 100%;
  height: 42px;
  font-size: 16px;
  margin-bottom: 10px;
}
.btn-holder .connect-btn:nth-child(1) {
  margin-bottom: 10px;
}
.btn-holder .connect-btn {
  width: 210px;
}
.btn-holder p {
  font-size: 20px;
}
.nft-modal-list {
  display: flex;
  overflow-x: scroll;
  flex-wrap: wrap;
}
.nft-modal-img img {
  width: 400px;
  transition: transform 100ms ease-in-out;
  border-radius: 12px;
}

.nft-modal-img :hover {
  transform: scale(1.05);
  transition: all 0.5s ease-out;

  cursor: pointer;
}
.modal-content {
  overflow: scroll;
}
.nft-modal-list .connect-btn {
  position: relative;
  top: -50px;
  width: 208px;
  left: 20px;
  transform: scale(0.93);
}
.admin-profile-drop-down {
  border: 1px solid #000;
  background-color: #fff;
  padding: 20px 15px;
  position: absolute;
  right: 30px;
  top: 90px;
}
.admin-profile-drop-down h1 {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
.admin-profile-drop-down p {
  font-size: 14px;
}
.admin-profile {
  cursor: pointer;
}
.MuiBox-root .connect-btn {
  width: 210px;
}

.nav-logo {
  cursor: pointer;
}

.admin-product-wrap {
  border-radius: 10px;
  clip-path: polygon(3% 0, 100% 0%, 100% 100%, 0 99%, 0 5%);
  /* width: 1118px; */
  width: 62.11vw;
  margin: 0 auto;
  margin-top: 70px;
  height: 1037px;
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
}
.admin-product-inner {
  border-radius: 8px;
  clip-path: polygon(3% 0, 100% 0%, 100% 100%, 0 99%, 0 5%);
  /* width: 1113px; */
  width: 61.85vw;
  height: 1032px;
  background-color: #fff;
  position: absolute;
  left: 2px;
  top: 2px;
}
.login-cont-wrap {
  height: 637px;
}
.login-cont-wrap .admin-product-inner {
  height: 632px;
}

.login-behind {
  height: 637px !important;
}
.admin-product-inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.admin-product-inner h1 {
  font-weight: 400;
  font-size: 35.8327px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
  display: flex;
  margin-top: 110px;
}
.admin-product-inner h1 img {
  margin-right: 20px;
}
.login-inputs {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  max-width: 60%;
  text-align: center;
}
.login-input {
  position: relative;
}
.login-input input {
  height: 59px;
  background: #ffffff;
  border: 1.31111px solid #000000;
  padding-left: 10px;
  width: 100%;
  margin-bottom: 50px;
  border-radius: 4px;
}
.login-page {
  text-align: center;
}
.input-behind {
  position: absolute;
  width: 100%;
  top: 10px;
  left: 10px;
  height: 59px;
  z-index: -1;
  background: #f5e9ff;
  border-radius: 4px;
}
.admin-cont-wrap {
  position: relative;
}
.admin-cont-behind {
  position: absolute;
  border-radius: 10px;
  clip-path: polygon(3% 0, 100% 0%, 100% 100%, 0 99%, 0 5%);
  /* width: 1118px; */
  width: 62.11vw;
  top: 20px;
  /* margin: 0 auto; */
  z-index: -1;
  /* margin-top: 70px; */
  height: 1037px;
  right: 18%;
  background-color: #f6e8fd;
}
.error {
  width: 100%;
  color: red;
  position: absolute;
  bottom: 18px;
}
.register-btns {
  display: flex;
  justify-content: space-between;
  min-width: 60%;
}
.buy-btn {
  z-index: 10;
}

.buy-now {
  margin-top: 10%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  margin-bottom: 20px;
}

.col-6 {
  width: 50%;
}

.connect-button {
  position: relative;
  top: -20px;
}

.disclaimer {
  font-size: 9px;
  color: red;
  font-weight: 400;
  margin-top: 10px;
}

.image-content {
  position: relative;
  top: -90px;
  width: 240px;
}

.image-content > p {
  margin-bottom: 10px;
}

.single-nft {
  margin-top: 25px;
}

.css-2613qy-menu {
  z-index: 100;
}

.button-holder {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  right: 40px;
}

.button-and-text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: center; */
  /* width: 100%; */
}

/* ---------- */

.new-login-page {
  text-align: center;
  margin-top: 3rem;
}
.new-login-container {
  width: 75%;
  margin: 0 auto;
}
.new-login-user-icon {
  text-align: center;
  background-color: #fff;
  width: 108px;
  height: 108px;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -50px;
}
.new-login-user-icon > img {
  width: 98px;
  height: 98px;
}
.new-login-container {
  padding-bottom: 5rem;
  transform: scale(1);
  background: linear-gradient(0deg, #ffffff, #ffffff),
    linear-gradient(0deg, #c18eea, #c18eea), #c18eea;
  box-shadow: 0px 0px 2.39537px rgba(12, 26, 75, 0.1),
    11.9769px 71.8612px 170.072px rgba(20, 37, 63, 0.08);
  border-radius: 69px 69px 22.5127px 22.5127px;
  overflow: hidden;
}
.login-top-image img {
  width: 100%;
  height: 190px;
  object-fit: cover;
}
.login-header {
  font-weight: 500;
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.8);
}
.new-login-inputs {
  margin-top: 2rem;
}
.new-login-inputs .login-inputs {
  margin: 0 auto;
}
.absollute-btn-part {
  width: 100%;
}
.error-img {
  width: 80px;
  position: absolute;
  left: 20px;
}
.register-btns {
  min-width: 40% !important;
  align-items: center;
  margin: 0 auto;
  width: 400px;
}
.login-input input::placeholder {
  font-size: 1.2rem;
}
.login-input input {
  font-size: 1.2rem;
}
.filter-panel > img {
  width: 30px;
}
.new-filter-panel {
  border: 1.2px solid #000000;
  box-shadow: 0px 0px 1.17041px rgba(12, 26, 75, 0.1),
    5.85206px 35.1124px 83.0993px rgba(20, 37, 63, 0.08);
  border-radius: 11px;
}
.new-orders-page-flex {
  display: flex;
  align-items: flex-start;
}
.new-cart-item {
  margin-bottom: 2rem;
  box-shadow: 0px 0px 1.17041px rgba(12, 26, 75, 0.1),
    5.85206px 35.1124px 83.0993px rgba(20, 37, 63, 0.08);
  border-radius: 11px;
  background-color: #fff;
  display: flex;
  padding-right: 4rem;
  width: 100%;
}
.new-cart-details {
  padding-top: 2rem;
  padding-left: 2rem;
}
.new-cart-list {
  width: 70%;
  margin-left: auto;
}
.new-cart-img {
  padding: 20px 10px;
  background: linear-gradient(
      140.93deg,
      #8a12e9 4.84%,
      rgba(193, 142, 234, 0) 73.09%
    ),
    linear-gradient(0deg, #c18eea, #c18eea), #c18eea;
  border-radius: 11px 0 0 11px;
}
.new-cart-img img {
  transform: rotate(-10deg);
  width: 15vw;
}
.new-cart-product-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.new-cart-product-name div {
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 1rem;
  color: rgba(0, 0, 0, 0.9);
}
.new-cart-product-name div:nth-child(2) {
  opacity: 0.6;
}
.new-cart-details {
  width: 100%;
  padding-bottom: 2rem;
}
.new-cart-product-quantity,
.new-cart-product-status,
.new-cart-product-ordered-on {
  font-weight: 400;
  margin-bottom: 0.15rem;
  font-size: 20px;
  line-height: 1.94rem;
  color: rgba(0, 0, 0, 0.65);
}

.new-cart-product-status span,
.new-cart-product-ordered-on span {
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  color: rgba(0, 0, 0, 0.75);
}
.new-cart-details .connect-btn {
  margin-top: 2.5rem;
}
.new-orders-page-flex {
  position: relative;
}
.new-cart-details .connect-btn p {
  width: 37%;
}
.filter-on-small-device {
  display: none;
}
.new-productcard-details p {
  font-weight: 400;
  font-size: 27.3118px;
  margin-bottom: 1rem;
  line-height: 41px;
}
.new-product-card {
  transform: scale(1);
  padding-top: 1rem;
  position: relative;
  margin-bottom: 2rem;
  background: linear-gradient(
      140.93deg,
      #8a12e9 4.84%,
      rgba(193, 142, 234, 0) 73.09%
    ),
    linear-gradient(0deg, #c18eea, #c18eea), #c18eea;
  box-shadow: 0px 0px 1.07612px rgba(12, 26, 75, 0.1),
    5.38062px 32.2837px 76.4047px rgba(20, 37, 63, 0.08);
  border-radius: 10.1138px;
}
.product-details-card {
  padding: 5.6rem;
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;
  background: linear-gradient(0deg, #ffffff, #ffffff),
    linear-gradient(0deg, #c18eea, #c18eea), #c18eea;
  box-shadow: 0px 0px 1.07612px rgba(12, 26, 75, 0.1),
    5.38062px 32.2837px 76.4047px rgba(20, 37, 63, 0.08);
  border-radius: 10.1138px;
}
.new-product-card-img img {
  display: flex;
  margin: 0 auto;
  transform: scale(1.2);
}
.new-product-card-img {
  padding: 50px;
}
.new-product-price {
  position: absolute;
  top: 10px;
  right: 10px;
}
.new-product-price {
  padding: 3px 1rem;
  background: #ffffff;
  border-radius: 13.4078px;
}
.new-product-price p {
  font-weight: 500;

  font-size: 16.3463px;
  line-height: 22px;
}
.no-orders-found {
  font-weight: 400;
  font-size: 1.5rem;
  opacity: 0.8;
}
.no-orders-found-lottie {
  width: 80%;
}
.button-and-text h1 {
  font-weight: 400;
  margin-right: 1.5rem;
}
.no-warranty-found {
  margin-top: 2rem;
  position: relative;
  left: 40px;
}
.warranty-loader-mini {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 2rem;
}
.new-my-wrranty-page {
  width: 95%;
  margin: 0 auto;
}
.my-warrnaty-page-header > img {
  border-radius: 20px;
  width: 100%;
}
.mynft-user-component {
  width: 300px;
  padding: 2rem;
  padding-bottom: 3rem;
  background: linear-gradient(0deg, #ffffff, #ffffff),
    linear-gradient(0deg, #c18eea, #c18eea), #c18eea;
  box-shadow: 0px 0px 1.37934px rgba(12, 26, 75, 0.1),
    6.89672px 41.3803px 97.9335px rgba(20, 37, 63, 0.08);
  border-radius: 12.9636px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mynft-user-component > img {
  width: 70px;
  margin-bottom: 1.4rem;
}
.user-wallet img {
  width: 40px;
}
.user-name {
  font-weight: 600;
  font-size: 24.9154px;
  color: rgba(0, 0, 0, 0.8);
}
.user-mail {
  font-weight: 500;
  font-size: 15.1354px;
  line-height: 23px;
  margin-top: 1.4rem;
  color: rgba(0, 0, 0, 0.8);
}
.user-wallet {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-wallet p {
  font-weight: 300;
  font-size: 14.6381px;
  line-height: 19px;
  padding-left: 5px;
  color: rgba(0, 0, 0, 0.8);
}
.mynft-logout-btn button {
  background: #8a12e9;
  cursor: pointer;
  border-radius: 32.1739px;
  outline: none;
  border: none;
  font-weight: 500;
  font-size: 18.36px;
  line-height: 28px;
  padding: 14px 2rem;
  color: #ffffff;
  margin-top: 2.5rem;
}
.new-nft-card {
  text-align: center;
  margin-bottom: 2.6rem;
  width: 400px;
  background: linear-gradient(
      140.93deg,
      #8a12e9 4.84%,
      rgba(193, 142, 234, 0) 73.09%
    ),
    linear-gradient(0deg, #c18eea, #c18eea), #c18eea;
  box-shadow: 0px 0px 1.07679px rgba(12, 26, 75, 0.1),
    5.38393px 32.3036px 76.4518px rgba(20, 37, 63, 0.08);
  border-radius: 10.1201px;
}
.my-new-nft-details {
  padding: 1.5rem;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(0deg, #ffffff, #ffffff),
    linear-gradient(0deg, #c18eea, #c18eea), #c18eea;
  box-shadow: 0px 0px 1.07679px rgba(12, 26, 75, 0.1),
    5.38393px 32.3036px 76.4518px rgba(20, 37, 63, 0.08);
  border-radius: 10.1201px;
}
.my-new-nft-user img {
  width: 90px;
  position: relative;
  top: -40px;
}
.my-new-nft-img img {
  width: 230px;
}
.my-new-nft-img {
  padding-bottom: 30px;
}
.my-new-nft-user-text {
  position: relative;
  top: -30px;
  text-align: left;
}
.my-new-nft-name {
  font-weight: 500;
  font-size: 1.4rem;
  text-align: center;
  line-height: 31px;
}
.my-new-nft-delivered {
  display: flex;
  align-items: flex-start;
}
.my-new-nft-delivered div {
  font-weight: 400;
  font-size: 16.7725px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.7);
  margin-top: 10px;
}
.my-new-nft-delivered div:nth-child(1) {
  width: 47%;
}
.my-new-nft-delivered div:nth-child(2) {
  width: 67%;
}
.flipkart-logo {
  text-align: right;
  position: relative;
  top: 10px;
}
.new-nft-card {
  position: relative;
}
.price-pill {
  position: absolute;
  right: 20px;
  top: 10px;
  background: #ffffff;
  border-radius: 10.7093px;
  font-weight: 400;
  line-height: 20px;
  font-size: 15.4589px;
  padding: 2px 15px;
  /* color: rgba(0, 0, 0, 0.7); */
}

.my-nft-all-warranty h1 {
  font-weight: 500;
  font-size: 35.0251px;
  margin-left: 0.6rem;
  line-height: 53px;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 1.5rem;
}
.my-nft-page-flex {
  display: flex;
  align-items: flex-start;
}
.my-nft-all-warranty {
  width: 80%;
  margin-left: auto;
}
.all-nfts-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.my-nft-all-warranty {
  margin-top: 40px;
}
.mynft-user-component {
  position: relative;
  top: -80px;
  margin-left: 1rem;
}

.nft-image {
  border-radius: 20px;
}

.box-shadow {
  box-shadow: 0px 0px 1.07679px rgba(12, 26, 75, 0.1),
    5.38393px 32.3036px 76.4518px rgba(20, 37, 63, 0.08);
}

.warranty-name {
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 20px;
}

@media (max-width: 1300px) {
  .new-filter-panel {
    display: none;
  }
  .filter-panel-mobile {
    display: block;
    position: absolute;
    z-index: 2;
    left: 0%;
    top: -60px;
  }
  .new-cart-list {
    width: 100%;
  }
  .filter-on-small-device {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }
  .filter-on-small-device p {
    font-weight: 400;
    font-size: 1.4rem;
    margin-left: 0.5rem;
    line-height: 28px;
  }
}

@media (max-width: 1000px) {
  .filter-on-small-device {
    display: flex;
  }
  .new-login-container {
    width: 90%;
  }
  .login-header {
    position: relative;
    top: -40px;
  }
  .new-login-inputs {
    position: relative;
    top: -30px;
  }
  .login-inputs {
    max-width: 80%;
  }
  .new-login-container {
    border-radius: 35px 35px 22.5127px 22.5127px;
  }
  .new-cart-img img {
    width: 150px;
  }
  .new-cart-product-name div {
    font-size: 1rem;
    line-height: unset;
    margin-bottom: 0.4rem;
  }
  .new-cart-product-quantity,
  .new-cart-product-status,
  .new-cart-product-ordered-on {
    font-size: 0.7rem;
    line-height: unset;
  }
  .new-cart-product-status span,
  .new-cart-product-ordered-on span {
    font-size: 0.9rem;
  }
  .new-cart-details .connect-btn p {
    width: 79%;
  }
  .new-cart-details .connect-btn {
    transform: scale(0.77);
    position: relative;
    left: -50px;
    margin-top: 0.8rem;
  }
  .shopping-cart-page {
    width: 85%;
  }
}

.nft-modal {
  padding: 5%;
}

.sub-text {
  line-height: 40px;
  font-weight: 300;
  font-size: 1.4rem;
}

.two-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.desc {
  margin-top: 10%;
}
@media (max-width: 1200px) {
  .my-nft-page-flex {
    flex-direction: column;
  }
  .mynft-user-component {
    flex-direction: column;
  }
  .user-details-flex {
    display: flex;
  }
  .mynft-user-component {
    width: fit-content;
    margin: 0 auto;
    width: 80%;
  }
  .user-mail {
    margin-top: 0.3rem;
  }
  .user-wallet {
    margin-top: 0.3rem;
  }
  .user-details-flex {
    display: flex;
    width: 75%;
    justify-content: space-between;
    margin: 0 auto;
  }
  .my-warrnaty-page-header > img {
    height: 250px;
    object-fit: cover;
  }
  .my-nft-all-warranty {
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .user-details-flex {
    justify-content: flex-end;
  }
  .my-nft-all-warranty h1 {
    font-size: 22px;
  }
}
.loader-minimize {
  width: 20%;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .order-details-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .order-details-text {
    left: 0;
  }
  .order-img img {
    left: 0;
    text-align: center;
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .order-img img {
    width: 40vw;
    margin-top: 4rem;
  }
  .order-details-text h1 {
    font-size: 36px;
    line-height: unset;
  }
  .order-details-text p {
    font-size: 22px;
  }
}
.modal-inputs .login-input input {
  width: 80%;
}
.modal-inputs .input-behind {
  width: 80%;
  left: 13%;
}
.login-input {
  text-align: center;
}
.MuiBox-root .button-holder {
  text-align: center;
  justify-content: center;
}
@media (max-width: 1100px) {
  .modal-inputs .row {
    flex-direction: column;
  }
  .modal-inputs .login-input input {
    width: 100%;
  }
  .modal-inputs .input-behind {
    width: 100%;
    left: 2%;
  }
  .modal-inputs .row .col-6 {
    width: 100%;
  }
  .new-product-card {
    transform: scale(1);
    width: 400px;
  }
  .nav-links {
    /* display: none; */
  }
  .product-details-card {
    padding: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
  }
  .new-product-card {
    width: 300px;
  }
  .new-productcard-details p {
    font-size: 22.3118px;
    line-height: unset;
  }
  .new-productcard-button .button-container svg {
    width: 85%;
  }
  .connect-btn p {
    width: 75%;
  }
  .all-orders-page > h1 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
.toggle-filter-div .new-filter-panel {
  display: block;
  position: absolute;
  z-index: 2;
}
.filter-on-small-device img {
  cursor: pointer;
}

.connect-wallet-btn {
  position: relative;
  top: 10px;
  left: 80px;
  margin-right: 50px;
}

.new-product-card-img {
  min-height: 350px;
}
.landnig-2-cards-img-phone {
  display: none;
}
@media (max-width: 600px) {
  .navbar ul li {
    font-size: 14px;
    margin: 0 6px;
  }
  .landing-page-1 h1 {
    font-weight: 500;
    font-size: 36.702px;
    line-height: 50px;
    /* or 135% */

    color: rgba(0, 0, 0, 0.8);
  }
  .landing-page-1 {
    margin-top: 3rem;
  }
  .landing-page-text > p {
    font-weight: 400;
    font-size: 14.7821px;
    line-height: 22px;
    width: unset;
    color: rgba(0, 0, 0, 0.65);
  }
  .landing-page-1 > .connect-btn {
    transform: scale(0.7);
    position: relative;
    left: -40px;
  }

  .landing-page-1 canvas {
    position: relative;
    left: 1000px;
  }
  .landing-2-section-text h1 {
    font-weight: 500;
    font-size: 21.6524px;
    line-height: 32px;
  }
  .landing-2-section-text h1 span {
    font-size: 21.6524px;
  }
  .landing-2-section-text p {
    font-weight: 400;
    font-size: 11.7284px;
    line-height: 18px;
  }
  .landing-2-section-text {
    margin: 4rem auto;
    margin-top: 4rem;
  }
  .landnig-2-cards-img img {
    display: none;
  }
  .landnig-2-cards-img-phone {
    display: block;
  }
  .landnig-2-cards-img-phone img {
    width: 100%;
    margin-bottom: 3rem;
  }
}
#root {
  overflow: hidden;
}

@media (max-width: 430px) {
  .navbar ul {
    display: flex;
    position: absolute;
    right: 29px;
    top: 30px;
    flex-direction: column;
  }
  .login-input input {
    height: 42px;
  }
  .input-behind {
    height: 42px;
  }
  .new-cart-item {
    padding-right: 0;
    flex-direction: column;
  }
  .new-cart-img {
    display: flex;
    justify-content: center;
    border-radius: 10px 10px 0 0;
  }
  .new-cart-details{
    padding:2rem;
  }
  .order-details-text{
    padding: 3rem;
  }
  .order-details-text{
    transform: scale(0.83);
  }
}
